/* Header */
.header {
  text-align: center;
  background-color: #3F51B5;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
}

.header h1 {
  padding: 20px;
  font-size: 3em;
  color: white;
}

/* Dolar atual */
.dolarAtual {
  text-align: center;
}

/* Buscar por periodo */
.buscarPorPeriodo {
  margin-top: 0;
  text-align: center;
  background-color: #CFE8EE;
  box-shadow: 0px 4px 10px rgba(43, 43, 43, 0.5);
}

.buscarPorPeriodo label,
button {
  margin-left: 20px;
}

/* Lista do histórico de cotações */
ul {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  list-style-type: none;
}

li {
  background-color: #CFE8EE;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;

}

.listaHistoricoCotacoesItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.historicoDeCotacoesItemInfo {
  text-align: center;
  width: 33%;
  font-size: 20px;
}

.cabecalho {
  margin-top: 30px;
  text-align: center;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  height: 40px;
  background-color: #CFE8EE;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.cabecalho-text {
  text-align: center;
  width: 33%;
  padding: 10px;
}

.btnPesquisar{
  width: 20%;
}
